/* Drag & Drop icon */
.dragicon {
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: url("../img/dragdrop.png") no-repeat 0 -26px;
}
.dragicon:hover {
    background-position: 0 0;
}


td.vmiddle {
    vertical-align: middle;
}

table.table-top-border {
    border-top: 1px solid #ddd;
}

.page-item {
    padding: 10px;
    border: 1px solid #DDD;
    margin: 0 0 -1px 0;
    position: relative;
}
.page-item h4 {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 3px 15px 0 10px;
}
.page-url {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 3px 10px 0 0;
    color: #aeaeae;
}
.page-options {
    float: right;
    width: 400px;
}
.sortable-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
}
.sortable-menu ul {
    list-style: none;
    background: #fff;
    margin: 0 0 0 45px;
}
.sortable-menu div {
    background: #fff;
}
.btn-group2 {
    float: right;
    margin: -2px 0 0 0;
}
.btn-group2 .label {
    vertical-align: middle;
    margin: 0 5px 0 0;
}
.page-type {
    float: right;
    padding: 2px 10px 0 0;
}

.menu-placeholder {
    height: 46px;
    border: 1px solid orange;
    margin: 1px 0 0 0;
    list-style: none;
    background: #ffe393;
}
.ul-sortable-helper .btn-group2 {
    display: none;
}

.form-actions-basic {
    padding: 15px 0;
    text-align: right;
}

a.btn img {
    vertical-align: middle;
    margin: -3px 0 0 0;
}


.minitiles li:last-child {
    margin-right: 0;
}

#main .page-header {
    padding: 0;
}

.lang-btn-box {

}
.lang-btn-box a.btn {
    margin: 0 5px 5px 0;
}
.lang-btn-box .box-content {
    font-size: 0;
}
.original {
    padding: 4px 7px;
    background: #F5F5F5;
    border: 1px solid #E3E3E3;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: left;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	margin: 0;
}
.original code {
	line-height: 17px;
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 0 -1px;
}
.translated {
	font-family: "Open Sans", sans-serif;
}
#main .translate .box .box-content {
    padding: 0 20px 10px 20px;
}